# Old support
tensorflow>=2.0.0
nltk>=3.4
gensim
numpy>=1.21.0,<1.23

# Output
loguru>=0.6.0
matplotlib~=3.2.2
tqdm~=4.66.1

# NEW
click>=7.0
pandas~=2.0.3
torch~=2.1.2
transformers>=4.11

regex
keras
lightning~=2.1.3
torchmetrics~=1.3.0.post0